<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="smsMessageSender" class="com.nhnacademy.edu.springframework.message.SmsMessageSender" scope="prototype" init-method="init" destroy-method="cleanup">
    </bean>

    <bean id="emailMessageSender" class="com.nhnacademy.edu.springframework.message.EmailMessageSender" scope="singleton" init-method="init" destroy-method="cleanup">
    </bean>

<!--    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.message.MessageSendService" >-->
<!--        <constructor-arg ref="emailMessageSender" />-->
<!--    </bean>-->

    <bean id="messageSendService" class="com.nhnacademy.edu.springframework.message.MessageSendService" >
        <property name="messageSender" ref="smsMessageSender" />
    </bean>
</beans>